<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyPhoneWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhoneServlet</servlet-name>
    <servlet-class>servlet.PhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneServlet</servlet-name>
    <url-pattern>/servlet/PhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadImgServlet</servlet-name>
    <servlet-class>servlet.uploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadImgServlet</servlet-name>
    <url-pattern>/servlet/uploadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderInfoServlet</servlet-name>
    <servlet-class>servlet.OrderInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInfoServlet</servlet-name>
    <url-pattern>/servlet/OrderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/servlet/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MiddleServlet</servlet-name>
    <servlet-class>servlet.MiddleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiddleServlet</servlet-name>
    <url-pattern>/servlet/MiddleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/servlet/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/servlet/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchBarServlet</servlet-name>
    <servlet-class>servlet.SearchBarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBarServlet</servlet-name>
    <url-pattern>/servlet/SearchBarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>StorageServlet</servlet-name>
    <servlet-class>servlet.StorageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StorageServlet</servlet-name>
    <url-pattern>/servlet/StorageServlet</url-pattern>
  </servlet-mapping>
</web-app>