@CHARSET "UTF-8";
body{
	margin: 0px;
    padding: 0px;
}
a:hover{
	cursor:pointer;
}
.userArea{
	width:100%;
	height:30px; 
    line-height: 29px;
    font-family: arial, 微软雅黑;
    background-color: rgb(250, 250, 250);
    position: relative; 
    border: 1px solid rgb(237, 237, 237);
        font-size: 12px;
}
.userArea-left{
	float:left;
}
.userArea-right{
	float:right;
}
.userArea a:link{
	text-decoration:none;
	 
}
.userArea a{
	color:#8c8c8c;
}
.layout{
	margin:0px auto;
	width:1200px;
	height:30px;
}
.userId{
	color:black;
	cursor:pointer;
	 font-size: 13px;!important
}
.spCart-span{
    
}